﻿

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Trạng thái thiết bị</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="textSearch" placeholder="Từ khóa">
                    </div><!-- /input-group -->
                </div>
                <div class="col-md-3">
                    <select name="department" class="form-control" ng-model="DepartmentId" ng-options="option.Id as option.Name for option in DEPARTMENTS">
                        <option value="0"> -----Chọn khoa phòng-----</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select name="department" class="form-control" ng-model="StatusId" ng-options="option.Status as option.Name for option in Statuss">
                        <option value="0"> -----Chọn trạng thái-----</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="Search()">Tìm kiếm</button>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th style="display: none">AccessoryID</th>
                            <th style="width:25%">Tên Thiết Bị</th>
                            <th style="width:12%">Model</th>
                            <th style="width:21%">Khoa Phòng</th>
                            <th style="width:15%">Trạng thái</th>
                            <th style="width: 15%">Thao tác</th>
                        </tr>
                        <tr ng-repeat="item in devices.Data">
                            <td style="display: none">{{item.Id}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.Model}}</td>
                            <td>{{getDepartmentName(item.DepartmentId)}}</td>
                            <td>{{getStatus(item.Status)}}</td>
                            <td style="color: purple">
                                <span>
                                    <span id="save" class="btn btn-info margin-right-btn"
                                          ng-click="Info(item)">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                </span>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <span class="form-group pull-left page-size form-inline">
                <select id="ddlPageSize" class="form-control control-color"
                        ng-model="pageSizeSelected"
                        ng-change="changePageSize()">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                </select>
            </span>
            <div class="pull-right">
                <ul uib-pagination total-items="totalCount" ng-change="pageChanged()"
                    items-per-page="pageSizeSelected" direction-links="true"
                    ng-model="pageIndex" max-size="maxSize" class="pagination"
                    boundary-links="true" rotate="false" num-pages="numPages"></ul>
                Tổng số bản ghi: {{totalCount}}
            </div>
        </div>
    </div>
</section>