﻿

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Danh sách Thiết Bị cần Sửa Chữa</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="textSearch" placeholder="Từ khóa">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="Search()">Tìm kiếm</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th style="display: none">NotiId</th>
                            <th style="width:20%">Tên Thiết Bị</th>
                            <th style="width:20%">Tên Khoa Phòng</th>
                            <th style="width:17%">Ngày lập</th>
                            <th style="width:35%">Nội dung</th>
                            <th style="width:10%">Thao tác</th>
                        </tr>
                        <tr ng-repeat="item in notifications.Data">
                            <td style="display: none">{{item.Id}}</td>
                            <td>{{item.DeviceName}}</td>
                            <td>{{item.Department}}</td>
                            <td>{{item.Time | date : "dd/MM/yyyy hh:mm" }}</td>
                            <td>{{item.Content}}</td>
                            <td style="color: purple">
                                <span>
                                    <span id="save" class="btn btn-info margin-right-btn"
                                          ng-click="Add(item)">
                                        <i class="fa fa-info-circle">Tạo lịch sửa chữa</i>
                                    </span>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <span class="form-group pull-left page-size form-inline">
                <select id="ddlPageSize" class="form-control control-color"
                        ng-model="pageSizeSelected"
                        ng-change="changePageSize()">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                </select>
            </span>
            <div class="pull-right">
                <ul uib-pagination total-items="totalCount" ng-change="pageChanged()"
                    items-per-page="pageSizeSelected" direction-links="true"
                    ng-model="pageIndex" max-size="maxSize" class="pagination"
                    boundary-links="true" rotate="false" num-pages="numPages"></ul>
                Tổng số bản ghi: {{totalCount}}
            </div>
        </div>
    </div>
</section>