﻿<form name="user_form" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="modal-title" style="color: antiquewhite; font-size: large">{{ Title }}</span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <fieldset style="text-align: left">
                        <legend class="bold" style="color: fuchsia">Thông tin chính</legend>
                        <div class="col-md-12" style="padding-left: 0px;">
                            <div class="form-group row">
                                <label class="control-label col-md-4">Tên loại thiết bị</label>
                                <div class="col-md-8">
                                    <input type="text" name="fullname" ng-model="DeviceType.Name" required ng-maxlength="512"
                                           class="form-control myinput" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4">Nhóm</label>
                                <div class="col-md-8">
                                    <select name="devicegroup" class="form-control" ng-model="DeviceType.DeviceGroup">
                                        <option value=""> -----Chọn nhóm thiết bị-----</option>
                                        <option value="A">Nhóm A</option>
                                        <option value="B">Nhóm B</option>
                                        <option value="C">Nhóm C</option>
                                        <option value="D">Nhóm D</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button title="Tạo mới" type="button" ng-click="save()" class="btn btn-sm btn-facebook"><i class="fa fa-save"></i>&nbsp;Lưu</button>

            <button title="Đóng" type="button" ng-click="cancel()" class="btn btn-sm btn-warning"><i class="fa fa-ban"></i>&nbsp;Đóng</button>
        </div>
    </div>
</form>