﻿<form name="user_form" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="modal-title" style="color: antiquewhite; font-size: large">{{ Title }}</span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <fieldset style="text-align: left">
                        <legend class="bold" style="color: fuchsia">Thông tin chính</legend>
                        <div class="col-md-12" style="padding-left: 0px;">
                            <div class="form-group row">
                                <label class="control-label col-md-4">Tên khoa phòng</label>
                                <div class="col-md-8">
                                    <input type="text" name="fullname" ng-model="Accessory.Name" required ng-maxlength="512"
                                           class="form-control myinput" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4">Kích thước</label>
                                <div class="col-md-8">
                                    <input type="text" name="fullname" ng-model="Accessory.Size" required ng-maxlength="512"
                                           class="form-control myinput" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4">Số lượng</label>
                                <div class="col-md-8">
                                    <input type="text" name="fullname" ng-model="Accessory.Number" required ng-maxlength="512"
                                           class="form-control myinput" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4">Trạng thái</label>
                                <div class="col-md-8">
                                    <input type="text" name="fullname" ng-model="Accessory.Status" required ng-maxlength="512"
                                           class="form-control myinput" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4">Ngày nhập kho</label>
                                <div class="col-md-8 datepicker-inline">
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="Accessory.ImportedDate" is-open="isImportedDateOpen" datepicker-options="datepickerOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    </div>
                                    <div class="col-md-2">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="isImportedDateOpen = !isImportedDateOpen">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4">Nhà cung cấp</label>
                                <div class="col-md-8">
                                    <select name="provider" class="form-control" ng-model="Accessory.ProviderId" ng-options="option.Id as option.Name for option in PROVIDERS">
                                        <option value=""> -----Chọn nhà cung cấp-----</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button title="Tạo mới" type="button" ng-click="save()" class="btn btn-sm btn-facebook"><i class="fa fa-save"></i>&nbsp;Lưu</button>

            <button title="Đóng" type="button" ng-click="cancel()" class="btn btn-sm btn-warning"><i class="fa fa-ban"></i>&nbsp;Đóng</button>
        </div>
    </div>
</form>