﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Đăng nhập</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="Front-End/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="Front-End/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="Front-End/assets/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
    <link href="Front-End/assets/css/_all-skins.min.css" rel="stylesheet" />
    <link href="Front-End/assets/css/toastr.min.css" rel="stylesheet" />

</head>
<body class="hold-transition login-page" ng-app="myapp" ng-controller="LoginCtrl">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>KTX</b>BACH KHOA</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <form>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="username" ng-model="username">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" ng-model="password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">

                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="button" class="btn btn-primary btn-block btn-flat" ng-click="Login(username, password)">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="Front-End/assets/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="Front-End/assets/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="Front-End/assets/js/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="Front-End/assets/js/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="Front-End/assets/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="Front-End/assets/js/demo.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidebar-menu').tree();
        })</script>

    <!-- Angular Library-->
    <script src="Front-End/assets/js/angular.min.js"></script>
    <script src="Front-End/assets/js/angular-ui-router.js"></script>
    <script src="Front-End/assets/js/angular-toastr.tpls.js"></script>
    <script src="Front-End/assets/js/bootbox.js"></script>
    <script src="Front-End/assets/js/ngBootbox.js"></script>
    <script src="Front-End/assets/js/ckeditor.js"></script>
    <script src="Front-End/assets/js/ng-ckeditor.js"></script>
    <script src="Front-End/assets/js/ui-bootstrap-tpls.js"></script>
    <!--<script data-require="angular-touch@1.6.*" data-semver="1.6.2" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-touch.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="2.5.0" src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-2.5.0.js"></script>-->
    <!-- App -->
    <script src="Front-End/app-data/app.js"></script>
    <script src="Front-End/app-data/components/config/config-route.js"></script>

    <!-- Controller-->
    <script src="Front-End/app-data/views/login/login.js"></script>

    <!-- Service-->
    <script src="Front-End/app-data/components/services/service-api.js"></script>
</body>
</html>
