﻿<form name="user_form" class="form-horizontal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="modal-title" style="color: antiquewhite; font-size: large">{{ Title }}</span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <fieldset style="text-align: left">
                        <legend class="bold" style="color: fuchsia">Thông tin chính</legend>
                        <div class="col-md-12" style="padding-left: 0px;">
                            <div class="form-group row">
                                <label class="control-label col-md-4">Tên nhà cung cấp</label>
                                <div class="col-md-8">
                                    <input type="text" name="fullname" ng-model="Provider.Name" required ng-maxlength="512"
                                           class="form-control myinput" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4">Xuất xứ</label>
                                <div class="col-md-8">
                                    <input type="text" name="fullname" ng-model="Provider.Address" required ng-maxlength="512"
                                           class="form-control myinput" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4">Tên người đại diện</label>
                                <div class="col-md-8">
                                    <input type="text" name="fullname" ng-model="Provider.Representer" required ng-maxlength="512"
                                           class="form-control myinput" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4">Điện thoại</label>
                                <div class="col-md-8">
                                    <input type="tel" name="fullname" ng-model="Provider.Mobile" required ng-maxlength="512"
                                           class="form-control myinput" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4">Email</label>
                                <div class="col-md-8">
                                    <input type="email" name="fullname" ng-model="Provider.Email" required ng-maxlength="512"
                                           class="form-control myinput" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button title="Tạo mới" type="button" ng-click="save()" class="btn btn-sm btn-facebook"><i class="fa fa-save"></i>&nbsp;Lưu</button>

            <button title="Đóng" type="button" ng-click="cancel()" class="btn btn-sm btn-warning"><i class="fa fa-ban"></i>&nbsp;Đóng</button>
        </div>
    </div>
</form>